html {
    scroll-behavior: smooth;
}

body {
    --color-bg: #222831;
    --color-card: #393e46;
    --color-high: #00adb5;
    --color-text: #eeeeee;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
}

blockquote {
    color: inherit;
    border-color: var(--color-high);
}

img {
    display: block;
    margin: 0 auto;
}

.medium-zoom-overlay,
.medium-zoom-image--opened {
    z-index: 2;
}