body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

blockquote {
    /* 추후 작성 */
    color: inherit;
}
/* https://colorhunt.co/palette/222831393e4600adb5eeeeee */
:root{
    --color-bg: #222831;
    --color-card: #393e46;
    --color-high: #00adb5;
    --color-text: #eeeeee;
}